{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.member.label(class="form-label") }}
            {{ form.member(class="form-select") }}
            {% for error in form.member.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.check_in_time.label(class="form-label") }}
            {{ form.check_in_time(class="form-control") }}
            {% for error in form.check_in_time.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
